.search-component{
  display: flex;
  flex-wrap: nowrap;
  margin: 5px;
  padding: 5px;

    .searchbox{
    margin-right: 5px;
    flex-grow: 8;
    top: 12px;
    left: 9px;
    border-radius: 15px;
    background: #fafafa;
    box-shadow: 20px 20px 60px #d5d5d5, -20px -20px 60px #ffffff;
    .inputbox{
      
      margin: 14px;
      width:-webkit-fill-available;
      border: none;
      background: transparent;
      height: 27px;
      text-align: left;
      font: Regular 20px/27px Segoe UI;
      letter-spacing: 0px;
      color: #707070A8;
      opacity: 1;
      &:focus{
        outline: none;
      }
    }
  }
  .search-icon-box{
    flex-grow: 0;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    background: #fafafa;
    box-shadow: 20px 20px 60px #d5d5d5, -20px -20px 60px #ffffff;
    opacity: 1;
    .search-icon-box-button{
      width: 35px;
      height: 35px;
      padding: 0px;
      margin: 13px;
      border: none;
      background: url("../../assets/icons/Icon-ionic-ios-search.svg") no-repeat 1px 1px;
    }
  }
}

